doctype html
html
	head
		title Homepage
		style
			include style/show.css
		link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
	body

	div#contenedor
		h1 Mostrar
		form(action="/Show", method="get")
			each atributo in atributos
				label(for=atributo) #{atributo}
				input(id=atributo, type="checkbox", name=atributo)
			input(type="hidden", name="tabla", value=tabla)
			br
			select(name="campo")
				each atributo in atributos
					option(value=atributo) #{atributo}
					
			input(type="text", name="search" , placeholder="buscar")
			
			input#filtrar(class="button", type="submit", value="Filtrar")

		table
			tr
				each atributo in atributos
					td#title #{atributo}
			each tupla in elementos
				tr
					form(action="/actualizado", method="get")
						each elemento, nombre in tupla
							td 
								input#data(type="text", name=nombre, placeholder=nombre, value=elemento)
						td
							input(type="hidden", name="tabla", value=tabla)
							input#update(class="button", type="submit", value="Update")
					td
						//Delete
						form(action="/eliminado", method="get")
							input(type="hidden", name=Object.keys(tupla)[0], value=tupla[Object.keys(tupla)[0]])
							input(type="hidden", name="tabla", value=tabla)
							input#delete(class="button", type="submit", value="Delete")
